name: Flutter Analyze

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.29.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Run code generation with build_runner
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Analyze project source
        run: flutter analyze
